<h1>Aurubella</h1>
<img src="images/imageplaceholder.png" alt="">
<h2>Let the beauty we love be what we do</h2>

<a class="button" href="/register/new">Register</a>
<a class="button" href="/session/new">Log in</a>
