<script type="text/javascript" src="https://static.filestackapi.com/v3/filestack.js"></script>


<form action="/images" method="POST">

<div class="field">
<a class="button" id="pickImage"> Pick a file</a>
    <label class="label" for="imageURL">Image URL</label>
  <div class="control">
    <input id="imageURL" class="input" type="text" name="imageURL">
  </div>
</div>


<%# need to figure out how to push each tag input into an array and update. %>
<%# also do a for each in the value attribute to fix comma issue %>
  <div class="field">
      <label class="label" for="tags">Tags (space separated)</label>
        <div class="control">
          <input class="input" type="text" name="tags" value="<%= image.tags %>">
        </div>

  </div>

  <div class="field">
      <label class="label" for="caption">Caption</label>
    <div class="control">
      <input class="input" type="text" name="caption" value="<%= image.caption %>">
    </div>
  </div>

  <button class="button is-primary">Save</button>
  <input type="hidden" name="_method" value="PUT">

</form>

<script>
const client = filestack.init('AexgdNExkS7KW6EtgRtLPz');
const btn = document.getElementById('pickImage')


btn.addEventListener('click', function () {
  client.pick({})
  .then(function(data) {
    document.getElementById('imageURL').value = data.filesUploaded[0].url;
  })
});

</script>
