<script type="text/javascript" src="https://static.filestackapi.com/v3/filestack.js"></script>


<form class="image-upload" action="/images" method="POST">

<div class="field">
<a class="button" id="pickImage"> Pick a file</a>
    <label class="label" for="imageURL">Image URL</label>
  <div class="control">
    <input id="imageURL" class="input" type="text" name="imageURL">
  </div>
</div>


  <div class="field">
      <label class="label" for="tags">Tags (space separated)</label>
    <div class="control">
      <input class="input" type="text" name="tags">
    </div>
  </div>
<%# need to add functionality where for each tag added, a new input appears
onclick="nextTag()" in input%>
  <div class="field">
      <label class="label" for="caption">Caption</label>
    <div class="control">
      <input class="input" type="text" name="caption">
    </div>
  </div>

  <button class="button is-primary">Contribute</button>

</form>

<script>
const client = filestack.init('AexgdNExkS7KW6EtgRtLPz');
const btn = document.getElementById('pickImage')


btn.addEventListener('click', function () {
  client.pick({})
  .then(function(data) {
    document.getElementById('imageURL').value = data.filesUploaded[0].url;
  })
});

</script>
