<script type="text/javascript" src="https://static.filestackapi.com/v3/filestack.js"></script>


<form action="/register" method="POST">
  <div class="field">
    <a class="button" id="pickImage"> Pick an image</a>
    <label class="label"  for="profilePicture">Profile Picture (URL)</label>
    <div class="control">
      <input class="input" type="text" id="profilePicture" name="profilePicture">
    </div>
  </div>
  <div class="field">
    <label class="label" for="username">Username</label>
    <div class="control">
      <input class="input" type="text" name="username">
    </div>
  </div>
  <div class="field">
    <label class="label" for="email">Email</label>
    <div class="control">
      <input class="input" type="email" name="email">
    </div>
  </div>
  <div class="field">
    <label class="label" for="password">Password</label>
    <div class="control">
      <input class="input" type="password" name="password">
    </div>
  </div>
  <div class="field">
    <label class="label" for="confirmPassword">Confirm Password</label>
    <div class="control">
      <input class="input" type="password" name="confirmPassword">
    </div>
  </div>

  <button class="button">Register</button>

</form>

<script>
const client = filestack.init('AexgdNExkS7KW6EtgRtLPz');
const btn = document.getElementById('pickImage')


btn.addEventListener('click', function () {
  client.pick({
    accept: 'image/jpeg',
 transformations: {
   crop: {
     aspectRatio: 1,
     force: true
  })
  .then(function(data) {
    document.getElementById('profilePicture').value = data.filesUploaded[0].url;
  })
});

</script>
