<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-start">
    <div class="navbar-brand">
  <a class="navbar-item" href="/exhibition/new">Add image</a>
    </div>
  </div>
  <div class="navbar-end">
    <div class="navbar-menu">
      <a class="navbar-item" href="/">Register/Log in</a>

      <% if (locals.isLoggedIn) { %>
        <a class="navbar-item" href="/about">About</a>
        <a class="navbar-item" href="/exhibition">Exhibition</a>
        <a class="navbar-item" href="/explore">Explore</a>
        <a class="navbar-item" href="/profile">Profile</a>
        <a href="/session/delete">Log out</a>
      <% } %>
    </div>
  </div>
</nav>
