<% if (!locals.isLoggedIn) { %>


<%} else { %>
<nav class="navbar" role="navigation" aria-label="main navigation">
<div class="container">
  <div class="navbar-start">
    <div class="navbar-brand">
      <a class="navbar-item" href="/images/new">Add image</a>
      <a class="navbar-item" href="/images">Aurubella</a>
    </div>
  </div>
  <div class="navbar-end">
    <div class="navbar-menu">
      <a class="navbar-item" href="/explore">Explore</a>
      <a class="navbar-item" href="/user/<%= locals.user.id %>"><%= locals.user.username %></a>
      <a class="navbar-item" href="/session/delete">Log out</a>
      <% } %>
    </div>
  </div>

</div>
</nav>
