<% if (locals.loggedInUser.id.toString() !== _user.id.toString()) { %>
  <%  if (!locals.loggedInUser.following.map(id => id.toString()).includes(_user.id.toString())) { %>
      <form action="/user/<%= locals.loggedInUser.id %>/following" method="POST">
        <input type="hidden" name="userToFollow" value="<%= _user.id %>">
        <button class="button">follow</button>
      </form>
    <% } else { %>
      <%-include('../following/delete', { _user }) %>
  <% } %>
<% } %>
