<section class="section">
  <div class="container">
    <div class="columns is-gapless is-vcentered is-mobile is-multiline">

      <div class="column is-two-thirds-desktop is-full-mobile has-text-centered">
        <h1>Aurubella</h1>
        <img src="images/imageplaceholder.png" width="550px" height="550px" alt="">
        <h2>Let the beauty you love, be what you do</h2>
      </div>

      <div class="column is-one-third-desktop is-full-mobile has-text-centered">
        <p> New user? </p>
        <a class="button" href="/register/new">Register</a>
        <p>Existing user?</p>
        <a class="button" href="/session/new">Log in</a>
      </div>

    </div>
  </div>
</section>
