<form action="/session" method="POST">
  <%# need to make this function as intended %>

  <div class="field">
    <label class="label" for="login">Username or email address</label>
    <div class="control">
      <input class="input" type="text" name="login" id="login">
    </div>
  </div>

  <div class="field">
    <label class="label" for="password">Password</label>
    <div class="control">
      <input class="input" type="password" name="password" id="password">
    </div>
  </div>

  <button class="button is-info">Log in</button>

</form>
