<footer>
  <div class="container">


  <div class="columns is-multiline is-mobile has-text-centered">
        <div class="column is-1">
          <a class="footer-links" href="/about">about</a>
        </div>
        <div class="column is-1">
          <a class="footer-links" href="#">support</a>
        </div>
        <div class="column is-1">
          <a class="footer-links" href="#">press</a>
        </div>
        <div class="column is-1">
          <a class="footer-links" href="#">api</a>
        </div>
        <div class="column is-1">
          <a class="footer-links" href="#">jobs</a>
        </div>
        <div class="column is-1">
          <a class="footer-links" href="#">privacy</a>
        </div>
        <div class="column is-1">
          <a class="footer-links" href="#">terms</a>
        </div>
        <div class="column is-3">
          <a class="footer-links" href="#">language</a>
        </div>
        <div class="column is-2">
          <p class="footer-links">© 2018 Easel</p>
        </div>
    </div>
      </div>
</footer>
