<footer class="footer">
  <div class="level">
    <div class="level-left">
      <div class="content has-text-centered">
        <a href="#">about us</a>
        <a href="#">support</a>
        <a href="#">press</a>
        <a href="#">api</a>
        <a href="#">jobs</a>
        <a href="#">privacy</a>
        <a href="#">terms</a>
        <a href="#">language</a>
      </div>
    </div>
    <div class="level-right">
      <p>© 2018 Easel</p>      
    </div>
</div>
  </div>
</footer>
