<form action="/register" method="POST">
  <div class="field">
    <label class="label" for="username">Username</label>
    <div class="control">
      <input class="input" type="text" name="username">
    </div>
  </div>
  <div class="field">
    <label class="label" for="email">Email</label>
    <div class="control">
      <input class="input" type="email" name="email">
    </div>
  </div>
  <div class="field">
    <label class="label" for="password">Password</label>
    <div class="control">
      <input class="input" type="password" name="password">
    </div>
  </div>
  <div class="field">
    <label class="label" for="confirmPassword">Confirm Password</label>
    <div class="control">
      <input class="input" type="password" name="confirmPassword">
    </div>
  </div>

  <button class="button">Register</button>

</form>
