<section class="section">
<% image.comments.forEach(comment => { %>

<article class="media">

  <figure class="media-left" >
    <p class="image is-64x64">
      <img src="../images/<%= locals.user.profilePicture %>" alt="">
    </p>
  </figure>

  <div class="media-content">
    <div class="content">
      <p> <%=comment.username %>
      </p>
      <p> <%= comment.content %>
      </p>
    </div>
  </div>
</article>



<% }) %>
</section>
