<% locals.user.following.forEach(userFollowing => {
  if (userFollowing.toString() === _user.id.toString()) { %>
    <form action="/user/<%= locals.user.id %>/following/<%= _user.id%>" method="POST">
      <button class="button is-info">following</button>
      <input type="hidden" name="_method" value="DELETE">
    </form>
  <% } %>
<% }) %>
